@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  /* --Soft-red: hsl(7, 99%, 70%); */
  /* --Yellow: hsl(51, 100%, 49%); */
  --Soft-red: hsla(7, 99%, 70%, 0.3);
  --Yellow: hsla(51, 100%, 49%, 0.1);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

nav {
  display: flex;
  padding: 2rem 1rem;
}

nav button {
  margin-left: auto;
  background: none;
  border: none;
}

header {
  height: 100vh;
  background:
    url(images/icon-arrow-down.svg) no-repeat center top 60%,
    url(images/mobile/image-header.jpg) center bottom;
  background-size: auto, cover;
}

header h1 {
  color: var(--White);
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  margin-top: 40%;
}

.section__transform-img {
  background: url(images/mobile/image-transform.jpg) center;
}

.section__stand-img {
  background: url(images/mobile/image-stand-out.jpg) center;
}

.section__transform-img,
.section__stand-img {
  height: 100vw;
  background-size: auto 50vh;
}

.section__transform-container,
.section__stand-container {
  height: calc(100vh - 100vw);
  display: grid;
}

.section__transform,
.section__stand {
  margin: auto 1rem;
  text-align: center;
}

.section__transform h2,
.section__stand h2 {
  color: var(--Very-dark-desaturated-blue);
}

.section__transform p,
.section__stand p {
  color: var(--Very-dark-grayish-blue);
}

.section__transform button,
.section__stand button {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: .5em 1em;
  color: var(--Very-dark-desaturated-blue);
  background: conic-gradient(var(--Yellow) 90deg, var(--Soft-red) 90deg, var(--Soft-red) 270deg, var(--Yellow) 270deg);
  border: none;
  border-radius: .5rem;
  margin-top: 1rem;
}


.section__graphic {
  height: 100vh;
  background: url(images/mobile/image-graphic-design.jpg) center;
  background-size: auto 100vh;
}