@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  /* ### Primary */
  --gradient-top: hsl(7, 99%, 70%);
  --gradient-bottom: hsl(51, 100%, 49%);
  --graphic: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  /* ### Neutral */
  --section-header: hsl(212, 27%, 19%);
  --testimonial-text: hsl(213, 9%, 39%);
  --section-desc: hsl(232, 10%, 55%);
  --testimonial: hsl(210, 4%, 67%);
  --header: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
  color: var(--header);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding-top: 30vh;
  font-weight: 900;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: var(--section-header);
}

p {
  color: var(--section-desc);
}

button {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(var(--gradient-bottom), var(--gradient-top));
}

nav {
  position: absolute;
  width: 100%;
  padding: 2rem 1rem 0 1.5rem;
}

nav button {
  background: none;
  border: none;
  float: right;
}

header {
  height: 100vh;
  background:
    url(images/icon-arrow-down.svg) no-repeat top 25rem center,
    url(images/mobile/image-header.jpg) no-repeat bottom 30% center;
  background-size: auto, cover;
}

.section-img {
  height: 35vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-desc {
  text-align: center;
  margin: 5rem 2rem;
}

.section__transform {
  background-image: url(images/mobile/image-transform.jpg);
}

.section__stand {
  background-image: url(images/mobile/image-stand-out.jpg);
}

.section-container {
  position: relative;
}

.section__graphic,
.section__photography {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.section__graphic>* {
  color: var(--graphic);
}

.section__photography>* {
  color: var(--graphic);
}

.section__graphic-img {
  content: url(images/mobile/image-graphic-design.jpg);
  width: 100%;
}

.section__photography-img {
  content: url(images/mobile/image-photography.jpg);
  width: 100%;
}

.section__testimonial {
  text-align: center;
  padding: 4rem 2rem;
}

.section__testimonial>p {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: var(--testimonial);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section__testimonial img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 4rem;
}

.section__testimonial-say {
  color: var(--testimonial-text);
}

.section__testimonial-name {
  color: var(--section-header);
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.section__testimonial-job {
  color: var(--testimonial);
}

.section__img {
  background-image:
    url(images/mobile/image-gallery-milkbottles.jpg),
    url(images/mobile/image-gallery-orange.jpg),
    url(images/mobile/image-gallery-cone.jpg),
    url(images/mobile/image-gallery-sugar-cubes.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 50vw, 50vw, 50vw, 50vw;
  background-position: top left, top right, bottom left, bottom right;
  height: 100vw;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer button {
  background: none;
  text-transform: capitalize;
  font-family: inherit;
  color: var(--graphic);
  /* color: var(--footer); */
}

/* .footer__logo {
  color: var(--graphic);
} */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}