@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  --gradient-top: hsl(7, 99%, 70%);
  --gradient-bottom: hsl(51, 100%, 49%);
  --graphic: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);
  --footer-bg: hsla(168, 34%, 41%, 0.5);
  --footer-icon: invert(47%) sepia(36%) saturate(483%) hue-rotate(118deg) brightness(95%) contrast(90%);

  --section-header: hsl(212, 27%, 19%);
  --testimonial-text: hsl(213, 9%, 39%);
  --section-desc: hsl(232, 10%, 55%);
  --testimonial: hsl(210, 4%, 67%);
  --header: hsl(0, 0%, 100%);
}

body {
  background-color: lightgray;
  font-size: 18px;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

h2 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

nav {
  display: flex;
  margin: 2rem 1rem;
}

nav button {
  margin-left: auto;
  background: none;
  border: none;
}